<header class="header">

  <nav class="navbar navbar-custom" role="navigation">

    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Руслан Салахутдинов</a>
      </div>

      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home">ГЛАВНАЯ</a></li>
          <li><a href="#portfolio">ПОРТФОЛИО</a></li>
          <li><a href="#services">ТЕХНОЛОГИИ</a></li>
          <li><a href="#about">ОБО МНЕ</a></li>
          <li><a href="#contact">КОНТАКТЫ</a></li>
        </ul>
      </div>

    </div><!-- .container -->

  </nav>

</header>
