<footer id="footer">
  <div class="container">
    <div class="row">

      <div class="col-sm-12">

        <ul class="social-links">
          <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100001917884519" class="wow fadeInUp"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://vk.com/id6495402" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-vk"></i></a></li>
          <li><a target="_blank" href="https://github.com/Deathtosmoothie" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-skype"></i></a></li>
          <li><a target="_blank" href="https://codepen.io/borschman/" class="wow fadeInUp" data-wow-delay=".2s"><i class="fa fa-codepen"></i></a></li>

        </ul>

        <p class="copyright">

        </p>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</footer>