<section id="about">

  <!--<div class="row position-relative">-->
  <div class="container">

  <div class="row">

    <div class="col-md-6 side-image"></div>

    <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">

      <div class="row">

        <div class="col-sm-12">

          <div class="module-header module-header-left wow fadeInUp">
            <h2 class="module-title">ОБО МНЕ</h2>
            <div class="module-subtitle">
              Мне 25 лет, я имею высшее образование по специальности "Психология". Однако, в настоящее время, я занимаюсь веб-разработкой. Я считаю, что человек должен быть развит всесторонне и не останавливаться на какой-то одной сфере деятельности. Вот чем я занимаюсь помимо программирования:
            </div>
            <div class="module-line"></div>
          </div>

        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-6">

          <div class="iconboxleft wow fadeInUp">
            <div class="iconboxleft-icon">
              <span class="icon-ill"></span>
            </div>
            <div class="iconboxleft-text">
              <h3 class="iconboxleft-title">Иллюстрация</h3>
              <div class="iconboxleft-desc">
                Я рисую иллюстрации в Photoshop и Illustrator. Разрабатываю логотипы для фотографов и музыкантов. Был большой опыт вёрстки афиш для мероприятий.
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-6">

          <div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
            <div class="iconboxleft-icon">
              <span class="icon-music"></span>
            </div>
            <div class="iconboxleft-text">
              <h3 class="iconboxleft-title">Музыка</h3>
              <div class="iconboxleft-desc">
                Я закончил музыкальную школу по классу фортепиано, поэтому сейчас я на нём не играю. Вместо этого пишу электронную музыку в разных жанрах.
              </div>
            </div>
          </div>

        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-6">

          <div class="iconboxleft wow fadeInUp">
            <div class="iconboxleft-icon">
              <span class="icon-en"></span>
            </div>
            <div class="iconboxleft-text">
              <h3 class="iconboxleft-title">English</h3>
              <div class="iconboxleft-desc">
                Я люблю английский язык и знаю его на хорошем уровне. Иногда я перевожу тексты или видео для себя. Люблю смотреть фильмы в оригинале на английском.
              </div>
            </div>
          </div>

        </div>

        <div class="col-sm-6">

          <div class="iconboxleft wow fadeInUp" data-wow-delay=".2s">
            <div class="iconboxleft-icon">
              <span class="icon-psy"></span>
            </div>
            <div class="iconboxleft-text">
              <h3 class="iconboxleft-title">Психология</h3>
              <div class="iconboxleft-desc">
                Иногда люди просят у меня помощи. И, если это не мешает основной работе, я с готовностью оказываю помощь в работе с внутренними проблемами
              </div>
            </div>

          </div>

        </div><!-- .row -->

      </div><!-- col-xs-12 -->

    </div>

    </div>

    </div>

</section>