<section class="callout">
  <div class="container">

    <div class="row">

      <div class="col-md-8 col-lg-6 col-lg-offset-2">
        <h2>ГОТОВЫ К СОТРУДНИЧЕСТВУ?</h2>
        <div class="callout-decription">
          В настоящий момент я открыт для предложений
        </div>
      </div>

      <div class="col-md-4 col-lg-2 callout-btn">
        <a href="#contact" class="btn btn-lg btn-block btn-custom-1">Связаться</a>
      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>