<section id="contact" class="module">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-header">
          <h2 class="module-title">КОНТАКТЫ</h2>
          <div class="module-line"></div>
          <div class="module-subtitle">
            Если вы хотите связаться со мной, можете выслать мне электронное письмо или позвонить. <br> Мой номер: 8-905-923-31-46.
          </div>
          <div class="module-line"></div>
        </div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <form id="contact-form" role="form">
          <div class="ajax-hidden">
            <div class="form-group wow fadeInUp">
              <label class="sr-only" for="c_name">Имя</label>
              <input type="text" id="c_name" class="form-control" name="c_name" placeholder="Имя">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
              <label class="sr-only" for="c_email">Email address</label>
              <input type="email" id="c_email" class="form-control" name="c_email" placeholder="E-mail">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
              <textarea class="form-control" id="c_message" name="c_message" rows="7" placeholder="Ваше сообщение"></textarea>
            </div>

            <button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">ОТПРАВИТЬ
            </button>
          </div>
          <div class="ajax-response"></div>
        </form>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>