<section id="contact" class="module">

  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-header">
          <h2 class="module-title">КОНТАКТЫ</h2>
          <div class="module-line"></div>
          <div class="module-subtitle">
            Если вы хотите связаться со мной, можете выслать мне электронное письмо или позвонить. <br> Мой номер: 8-905-923-31-46.
          </div>
          <div class="module-line"></div>
        </div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <form id="contact-form" method="POST" action="/email.php" (ngSubmit)="onSubmit()" #tkdForm="ngForm">

            <div class="form-group wow fadeInUp">
              <label class="sr-only" for="name">Имя</label>
              <input  [(ngModel)]="message.name" ngControl="name"  type="text" id="name" class="form-control" name="name" placeholder="Имя">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".1s">
              <label class="sr-only" for="email">Email address</label>
              <input  [(ngModel)]="message.email" ngControl="email"  type="email" id="email" class="form-control" name="email" placeholder="E-mail">
            </div>

            <div class="form-group wow fadeInUp" data-wow-delay=".2s">
              <textarea [(ngModel)]="message.message" ngControl="message"  class="form-control" id="message" name="message" rows="7" placeholder="Ваше сообщение"></textarea>
            </div>

            <button type="submit" class="btn btn-block btn-custom-2 wow fadeInUp" data-wow-delay=".3s">ОТПРАВИТЬ
            </button>

        </form>

      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</section>