<section id="services" class="module module-gray">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-header wow fadeInUp">
          <h2 class="module-title">ТЕХНОЛОГИИ</h2>
          <div class="module-line"></div>
          <div class="module-subtitle">
            Ниже представлены технологии, которые я использовал в своей работе. <br> К данному списку можно добавить опыт в установке локальных серверов (WAMP, XAMPP, LAMP), работа с API Google-maps, Yandex-карт и Wikipedia, опыт в использовании технологии Ajax, а также небольшой опыт программирования на PHP (админ-панель, запросы в БД, скрипт отправки писем).<br>
            Опыт разработки в операционной системе Linux.
          </div>
          <div class="module-line"></div>
        </div>

      </div>

    </div>

    <div class="row">

      <div class="col-sm-3 col-md-2" *ngFor = 'let item of items'>

        <div class="iconbox wow bounceIn" >
          <div class="iconbox-icon">
            <img src="{{item.imagePath}}">
          </div>
          <div class="iconbox-text">
            <h3 class="iconbox-title">{{ item.title }}</h3>
          </div>
        </div>

      </div>



    </div><!-- .row -->
  </div><!-- .container -->
</section>
