<section id="portfolio" class="module paddingb-none">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-header wow fadeInUp">
          <h2 class="module-title">Портфолио</h2>
          <div class="module-line"></div>
          <div class="module-subtitle">
            Ниже представлены работы, которые я делал полностью с нуля, либо принимал непосредственное участие в их создании. Большинство ресурсов я выполнял в команде разработчиков, но есть и единичные фриланс-заказы.
          </div>
          <div class="module-line"></div>
        </div>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter start-->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filter">
          <li class="active" data-group="all">All</li>
          <li data-group="slideshow">Slideshow</li>
          <li data-group="video">Video</li>
          <li data-group="image">Image</li>
        </ul>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter end -->

  </div><!-- .contaier -->
  </section>
