<section id="portfolio" class="module paddingb-none">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="module-header wow fadeInUp">
          <h2 class="module-title">Портфолио</h2>
          <div class="module-line"></div>
          <div class="module-subtitle">
            Ниже представлены работы, которые я делал полностью с нуля, либо принимал непосредственное участие в их создании. Большинство ресурсов я выполнял в команде разработчиков, но есть и единичные фриланс-заказы.
          </div>
          <div class="module-line"></div>
        </div>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter start-->

    <div class="row">

      <div class="col-sm-12">

        <ul id="filter">
          <li *ngFor="let category of categories" (click)="onClick(category)">{{ category }}</li>
        </ul>

      </div>

    </div><!-- .row -->

    <!-- Portfolio Filter end -->
    <span>{{ choice }}</span>
    <div>
      <ul [ngSwitch]="choice">
        <li *ngSwitchCase="1">1</li>
        <li *ngSwitchCase="2">2</li>
      </ul>
    </div>
<app-items-portfolio [category]="category"></app-items-portfolio>
  </div><!-- .contaier -->
  </section>
