
    <div class="lang_tumblr">
        <button type="button" (click)="changeLanEn()">EN</button>
        <button type="button" (click)="changeLanRu()">RU</button>
    </div>


<app-home [lan]="lan"></app-home>
<app-preloader></app-preloader>
<app-header [lan]="lan"></app-header>
<app-portfolio [lan]="lan"></app-portfolio>
<app-callout [lan]="lan"></app-callout>
<app-technologies [lan]="lan"></app-technologies>
<app-about [lan]="lan"></app-about>
<app-contact [lan]="lan"></app-contact>
<app-footer></app-footer>